.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin-top: 60px;
    border: 4px solid black;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.number, .operand, .reset {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color:darkred;
    border: 3px solid brown;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    background-color: blanchedalmond;
}

.operand {
    background-color: burlywood ;
}

.reset {
    background-color: goldenrod;
}

.display {
    border: 3px solid grey;
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: flex-end;
    justify-content: flex-end;
}

.top-display, .bottom-display {
    min-height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttons > .number, .operand, .reset {
    width: 104px;
    height: 110px;
}