.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.number, .operand, .display {
    border: 1px solid red;
}